html, body {
  height: 100%;
  min-height:100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-family: "titilliumweb-light";
  background: #1c1f2f;
}

#wrapper {
  width: 100%;
  overflow-x: hidden;
  min-height:100%;
  position:relative;
  z-index: 1;
}

canvas{
  opacity: 1;
  position: fixed;
  top:0;
  left: 0;
  z-index: 0;
  min-height: 100%;
  min-width: 100%;
}

.content{
  padding-bottom: 680px;
  @include tablet{
    padding-bottom: 463px;
  }
}

.container{
  padding-top:100px;
  @include tablet{
    padding-top: 150px;
    padding-bottom: 60px;
  }
}

.row{
  box-sizing: border-box;
  margin: 20px auto;
  padding: 40px 20px;
  position: relative;
  z-index: 1;
  @include tablet{
    width: 100%;
    padding: 0 40px; 
    max-width: 1120px;
    margin: auto;
  }
}

.block{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  @include tablet(){
    width: 50%;
    float: left;
  }
  h1,h2,h3,p{
    text-align: center;
    @include tablet{
      text-align: left;
    }
  }
}

.fl-left{
  float: left;
}

.fl-right{
  float: right;
}

.pad-r{
  @include tablet{
    padding-right:40px;
  }
}

.pad-l{
  @include tablet{
    padding-left:40px;
  }
}

.pad-full{
  @include tablet{
    padding: 0 20px;
  }
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix{
  *zoom: 1;
}

.form-control.wpcf7-not-valid{
    border: 1px solid rgba(red, .5)  
}
.form-control:focus {
  outline: 0;
  border-color: rgba($deep-blue,.5);
  @include box-shadow( inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba($deep-blue,.8) )
}

.contact-form{
  .row{
    position: initial;
  }

  height: 0px;
  overflow: hidden;
  box-sizing: content-box;
  top: 130px;
  @include tranz;

  &.open{
    height: 480px;
    @include tablet{
      padding: 50px 50px 0 50px;
      margin-bottom: 20px;
    }
  }
}
.ajax-loader{
  background-image: url(../images/382.gif);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1000;
  background-color: rgba(0,0,0,.3);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.wpcf7-not-valid-tip{
  display: none;
}
.wpcf7-response-output{
  text-align: center;
  position: relative;
  top: 25px;
  padding-top: 5px;
  color: $deep-blue;
  @include tablet{
    top: 10px;
    padding-bottom: 20px;
  }

}


