.btn, button{
  font-family: 'titilliumweb-semibold';
  text-align: center;
  position: relative;
  text-decoration:none;
  margin: auto;
  padding: 10px;
  border: 0;
  width: 100%;
  transition: all .15s ease-out ;
  cursor: pointer;
  @include border-radius(5px);
  @include tablet{
    width: 250px;
    display: block;
  }

  &:hover{
    text-decoration:none;
  }

  &.white{
    background: white;
    color: $deep-blue;
    &:hover{
      background: $deep-blue;
      color: white;
    }
  }

  &.blue{
    $fg : white;
    $bg : $deep-blue;
    color: $fg;
    background: $bg;
    &:hover{
      color: $bg;
      background: $fg;
    }
  }

}
