footer{
  background:#11111d;
  border-top: 3px solid $deep-blue;
  width:100%;
  box-sizing: content-box;
  position:absolute;
  bottom:0;
  z-index: 0;

  @include tablet{
    padding: 60px 0;
    height:340px;
    width:100%;
  }
  .row{
    margin: auto;
    padding-top: 40px;
    @include tablet{
      width: 50%;
      padding: 0;
    }
  }
  h3{
    color: #4bcfe4;
    margin: 0;
    font-size: 20px;
    line-height: 1.5;
    @include tablet{
      font-size: 30px;
    }
  }
  .btn{
    display: block;
    margin: 40px 0 ;
    @include tablet{
      margin: 40px auto 80px;
      width: 250px;
    } 
  }
  ul{
    margin: auto;
    display: block;
    margin: 40px auto;
    padding: 0;
    @include tablet{
      top: 40px;
      margin: 0 2%;
      float: left;
      width: 29%;
    } 
    &:first-child{
      margin-top: 0;
    }
    a{
      color: #8FCADB;
      text-decoration: none;
    }
    li{
      &.header{
        font-family: 'titilliumweb-regular';
        font-size: 16px;
        font-weight: bold;
        color: #4bcfe4;
        border-bottom: 1px solid $deep-blue;
        padding : 0 0 10px 0;
        margin  : 0 0 10px 0;
      }
      margin-bottom: 5px;
      list-style-type: none;
      font-size: 16px;
    }
  }
}