$h:110px;
#wrapper nav{
  width: 100%;
  position: fixed;
  background: #11111d;
  height: $h;
  z-index: 100;
  @include tablet{
    height: $h;
    position: absolute;
    background: transparent;
  }

  $logo_w: 47px;
  $logo_h: 54px;
  
  #logo{
    position: relative;
    z-index: 1000;
    width: 50%;
    a.icon{
      display: block;
      width:  $logo_w * .75 ;
      height: $logo_h * .75 ;
      top: 20px;
      left:20px;
      position: absolute;
      background-image:  url(../images/logo.png) ;
      background-size: cover;
      @include tablet{
        top: 40px;
        left:40px;
        width:  $logo_w;
        height: $logo_h;
      }
    }  
    h2{
      left: $logo_w *.75 + 40;
      color: #fff;
      @include mobile{
        font-size: 21px;
        &.single-line{
          top: 32px;
        }
        &.multi-line{
          top: 23px;
        }
      }
      @include tablet{
        left: $logo_w *.75 + 80;
        top: 55px;
      }
      &:after{
        border: none;
      }
      a:hover{
        color: $deep-blue;
      }
      span{
        color: $deep-blue;
        display: block;
        font-size: .7em;
        @include tablet{
          font-size: 1em;
          margin-top: 0px;
          display:inline;
        }
      }
    }
  }


  div.nav-links{
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    background: $deep-blue;
    @include tablet{
      width: 50%;
      top: 30px;
      right: 40px;
      background: none;
    }
    ul{
      display: table;
      margin: auto;
      width: 100%;
      height: 100%;
      float: right;
      @include tablet{
        width: auto;
        margin: none;
        background: none;
      }
      li{
        width:30%;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        @include tablet{
          width: auto;
          display: inline;
          margin-left: 20px;
          line-height: 80px;
        }
        a{
          font-family: 'lovelo_black';
          font-size: .875em;
          color: #fff;
          @include tablet{
            font-size: 1em;
          }
          &:hover{
            color:$deep-blue;
          }
        }
      }
    }
  }
}
