@font-face {
    font-family: 'lovelo_black';
    src: url('../fonts/lovelo_black-webfont.eot');
    src: url('../fonts/lovelo_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lovelo_black-webfont.woff') format('woff'),
         url('../fonts/lovelo_black-webfont.ttf') format('truetype'),
         url('../fonts/lovelo_black-webfont.svg#placard_mt_stdcond') format('svg');
    font-style: normal;
}
@font-face {
    font-family: 'titilliumweb-regular';
    src: url('../fonts/titilliumweb-regular-webfont.eot');
    src: url('../fonts/titilliumweb-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumweb-regular-webfont.woff') format('woff'),
         url('../fonts/titilliumweb-regular-webfont.ttf') format('truetype'),
         url('../fonts/titilliumweb-regular-webfont.svg#placard_mt_stdcond') format('svg');
    font-style: normal;
}
@font-face {
    font-family: 'titilliumweb-light';
    src: url('../fonts/titilliumweb-light-webfont.eot');
    src: url('../fonts/titilliumweb-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumweb-light-webfont.woff') format('woff'),
         url('../fonts/titilliumweb-light-webfont.ttf') format('truetype'),
         url('../fonts/titilliumweb-light-webfont.svg#placard_mt_stdcond') format('svg');
    font-style: normal;
}
@font-face {
    font-family: 'titilliumweb-semibold';
    src: url('../fonts/titilliumweb-semibold-webfont.eot');
    src: url('../fonts/titilliumweb-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumweb-semibold-webfont.woff') format('woff'),
         url('../fonts/titilliumweb-semibold-webfont.ttf') format('truetype'),
         url('../fonts/titilliumweb-semibold-webfont.svg#placard_mt_stdcond') format('svg');
    font-style: normal;
}

body{
  line-height: 1.5em;
  font-size: 14px;
  color: #fff;
  @include tablet{
    font-size: 18px;
  }
  letter-spacing: 2px;
}

h1 {
  color: #fff;
  font-family: "lovelo_black";
  text-transform: uppercase;
  font-size:  2.5em;
  line-height: 1;
  text-align: center;
  margin-bottom: 20px;
  @include tablet{
    font-size: 75px;
  }
  &.lovelo_black{
    letter-spacing: 5px;
    @include tablet{
      letter-spacing: 13px;
    }
  }

}
h2{
  color: #fff;
  font-family: "lovelo_black";
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 2.5em * 1.25;
  font-size:1.66em;
  position: relative;
  &:after { 
    content:"";
    position: absolute;
    top: 2.5em;
    left: 42.5%;
    width: 15%;
    border-top: 3px solid #fff;
    z-index: -1;
    @include tablet{
      left:0;
      width: 15%;
    }
  }
  &.no-border-bottom:after{
    top: 0;
    left:0%;
    width: 0;
    border-top:0;
  }
}
h3{
  color: #1EBAD6;
  font-family: "lovelo_black";
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
  margin-bottom: 40px;
  @include tablet{
    font-size: 21px;
  }
  &.white{
    color: #fff;
  }
}
h4{
  color: #fff;
  font-family: 'titilliumweb-light';
  text-align: center;
  font-size: 1.2em;
  line-height: 1.6em;
  &.white{
    color: #fff;
  }
}
p{
  color: #8FCADB;
  font-family:"titilliumweb-regular", sans-serif;
  font-size: 1em;
  line-height:1.8em;
  margin-bottom: 40px;
  @include tablet{
    font-size: .85em;
  }

}
a{
  color:inherit;
  @include tranz;
  &:hover{
    text-decoration: none;
    color: #fff;
  }
  &:hover,
  &:focus,
  &:active{
    text-decoration: none;
  }
}

h1.page-title{
  color: $deep-blue;
  font-family: "lovelo_black";
  text-transform: uppercase;
  text-align: left;
  font-size: 1.5em;
  margin-bottom: 40px;
}

#single, #page{
  .container{
    h2{
      @include mobile{
        line-height: 1.5em;
        margin-bottom: 40px;
        &:after{
          top: 0;
          left: 0;
          width: 0;
        }
      }
    }
  }
}