#category{

  .container {
    @include mobile{
      padding-bottom: 80px;
      padding-top: 120px
    }
    padding-bottom: 40px;
    .row{
      margin: 0 auto;
      width: 100%;
      border-bottom: 1px solid rgba(0,150,255,.1);
      @include tablet{
        padding: 40px;
      }
      h4 {
        text-align: left;
        a:hover{
          color: $deep-blue;
        }
        span{
          font-size: 12px;
          display: block;
        }
      }
      p{
        text-align: left;
        margin-top: 20px;
        margin-bottom:0; 
        @include tablet{
          margin-top: 0;
        }
      }
    }
  }
} 