.page-contact,
.contact-form{
  .row {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  ::-webkit-input-placeholder {
    color: $light-blue;
    opacity: .3;
  }
  :-moz-placeholder { /* Firefox 18- */
     color: $light-blue;
     opacity: .3;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
     color: $light-blue;
     opacity: .3; 
  }
  :-ms-input-placeholder {  
     color: $light-blue;
     opacity: .3;  
  }
  label{
    color: $deep-blue; 
    padding-bottom: 20px;
  }
  input, textarea{
    background: #121525;
    border-color: transparent;
    color: $deep-blue;
    padding: 20px;
  }
  textarea{
    height: 150px;
    resize:none;
  }
  input[type="submit"]{
    margin-top: 20px;
    padding: 10px;
    @include tablet{
      margin-top: 40px
    }
  }
}

.contact-form{
  position: relative;
  z-index: 100;
  background: #11111d;
  input{
    background: #131628;
  }
}

.wpcf7{
  @include mobile{
    padding-bottom: 40px;
  }
}