#home{
  .content{
    padding-bottom: 600px;
  }
  .divider{
    display: none
  }

  #hero{
    padding-top: 30px;
    position: absolute;
    z-index: 10;
    opacity: 0;
    margin: auto;
    padding: 20px;
    h4{
      @include tablet{
        width: 52%;
        margin: auto;
      }
    }
  }

  .spaceship{
    height: 250px;
    width: 100%;
    position: relative;
    left: 40px;
    background-image: url("../images/spaceship.svg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 100;
    margin: auto;
    @include tablet{
      background-position: center -10px;
      height:  360px;
      top: 0;
      left: 100px;
    }
  }

  .illustration{
    display: block;  
  }

  .panel{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    .row{
      padding: 0;
    }
  }

  #panel-1{
    height: 100vh;
    div.type{
      background: none;
      padding: 20px;
      position: absolute;
      top: 0;
      img{
        cursor: pointer;
        margin-top: 10px;
      }
    }
    #scroll{
      display: none;
      z-index: 10;
      position: absolute;
      bottom: 40px;
      opacity: 0;
      width: 86px;
      @include transition(all 1s cubic-bezier(0.19,1,.22,1));
      @include tablet{
        display: block;
      }
      img{
        display: block;
      }
    }
  }

  #panel-2{
    position: relative;
    background: #4bcfe4;
    height: auto;
    min-height: 0;
    padding: 4em 0px;
    @include tablet{
      padding: 6em 0px;
    } 

    h1,h3,p { 
      color: #fff;
    }
    
    img{
      min-width:100%;
    }

    .block.fl-left{
      width: 50%;
    }
    .block.fl-right{
      display: none;
      width: 29%;
      @include tablet{
        position: relative;
        top: -40px;
        right: 100px;
        display: block;
      }
    }

    .full{
      height: 100%;
      width: 100%;
      overflow: hidden;
      position:absolute;
      top: 0;
      z-index: 0;
      display: none;
      @include tablet{
        display: block;
      }
      .rotate{
        height: 100%;
        width: 200%;
        background: #1EBAD6;
        -ms-transform: rotate(-27deg); /* IE 9 */
        -webkit-transform: rotate(-27deg); /* Safari */
        transform: rotate(-27deg);
      }
    }
    .btn{
      display: block;
      margin: auto;
      @include tablet{
        width: 160px;
        float: left;
      }
    }

    .block{
      box-sizing: auto;
    }

    .block-left{
      position: relative;
      @include tablet{
        top: 20px;
      }
    }
    .block-right{
      display:none;
      @include tablet{
        display: block;
      }
    }
  }

  #panel-3{
    
    background: none;
    
    @include mobile{
      h3{
        font-size: 18px;
        margin-bottom: 20px;
      }
    }

    @include tablet{
      min-height:800px;
      margin-top: 40px;
      margin-bottom: 550px;
      margin-top: 380px; 
      background-image: url("../images/divider.png");
      background-position: top center;
      background-repeat: no-repeat;
    }

    .illustration{
      margin: auto;
      img{
        width: 100%;
        display: block;
      }
      @include tablet{
        position: absolute;
      }
    }

    .row-1{
      .block:first-child{
        margin-bottom: 60px;
        .illustration{
          width: 80%;
        }
      }
      @include tablet{
        top: -135px;
        .block:first-child{
          margin-bottom: 0px;
          .illustration{
            width: 80%;
            @include transform(translateX(60px));
          }
          position: relative;
          top: -150px;
        }
      }
    }
    
    .row-2{
      .block:first-child{
        position: relative;
        top: 10px;
        left:  -20px;
        margin-bottom: 40px;
      }
      @include tablet{
        top: 38px;
        .block:first-child{
          top:  -90px;
        }
        .block:last-child{
          position: relative;
          top: 10px
        }
      }
    }
    
    .row-3{
      .block:first-child{
        margin-bottom: 60px;
        .illustration{
          width: 90%;
        }
      }
      @include tablet{
        top: 200px;
        .block:first-child{
          position: relative;
          top:  -110px;
          .illustration{
            width: 73%;
            @include transform(translateX(100px));
          }
        }
        .block:last-child{
          position: relative;
          top: 25px
        }
      }
    }
  }

  #panel-4{
    background: #1EBAD6;
    min-height: 0;
    height: auto;
    padding: 40px 0 0;
    z-index: 2;
    @include tablet{
      padding: 0;
    }

    h1,h3,p { 
      color: #fff;
    }
    img{
      display: none;
      width: auto;
      @include tablet{
        display: block;
      }
    }

    @include tablet{
      background: none;
    }
    .block.fl-left{
      width: 65%;
    }
    .block.fl-right{
      width: 30%;
    }
  }

  #panel-5{
    z-index: 0;
    background: #4bcfe4;
    min-height: 0;
    height: auto;
    padding: 40px 0;
    margin-bottom: 40px;
    @include tablet{
      margin-bottom: 0px;
       padding: 130px 0px 30px ;
    }

    h1,h3,p { 
      color: #fff;
    }
    img{
      display: none;
      @include tablet{
        display: block;
      }
    }
    @include tablet{
      background: none;
    }
    .illustration{
      position: relative;
      left: -20px;
    }
  }
  
  #panel-4,
  #panel-5{
    @include tablet{
      margin-bottom: 0;
      h3{  
        font-size: 30px;
      }
    }
  }

  .panel .row{
    @include mobile{
      padding: 0 20px;
    }
  }
  .block,
  .block.fl-left,
  .block.fl-right{
    @include mobile{
      float: none !important;
      width: 100% !important;
    }
  }


  #bottom{
    display: none;
    @include tablet{
      display: block;
    }
    position: absolute;
    z-index: -1;
    top: -170% ;
    background-image: url("../images/slant_bg.svg");
    background-size: cover;
    background-position: center 200px;
    background-repeat: no-repeat;
    width: 100%;
    height: 1800px;
  }
}