<div class="clearfix">
    <div class="form-group block block-left pad-r">
        <label for="exampleInputEmail1">Your Name</label>
        [text* name class:form-control]
    </div>
    <div class="form-group block block-right pad-l">
        <label for="exampleInputEmail1">Email address</label>
        [email* email class:form-control]
    </div>
</div>`

<div class="clearfix">
    <div class="form-group block block-left pad-r">
        <label for="exampleInputEmail1">City / State / Province</label>
        [text location class:form-control]
    </div>
    <div class="form-group block block-right pad-l">
        <label for="exampleInputEmail1">Company</label>
        [text company class:form-control]
    </div>
</div>

<div class="clearfix">
    <div class="form-group">
        <label for="exampleInputEmail1">Subject</label>
        [text subject class:form-control]
    </div>
</div>

<div class="clearfix">
    <div class="form-group">
        <label for="exampleInputEmail1">Message</label>
        [textarea message class:form-control]
    </div>
</div>

<div class="clearfix">
    [submit class:btn class:white]
</div>